<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ pageTitle }}</h1>
</div>

<div class="container-fluid">
    <div class="button-group text-center">
        <a class="btn btn-primary btn-lg m-3 mr-4 p-3" href="/add-student" role="button">Add Student</a>
        <a class="btn btn-primary btn-lg m-3 mr-4 p-3" href="/edit-student" role="button">Edit Student Details</a>
        <a class="btn btn-primary btn-lg m-3 mr-4 p-3" href="/add-parent" role="button">Add Parent</a>
        <a class="btn btn-primary btn-lg m-3 mr-4 p-3" href="/edit-parent" role="button">Edit Parent Details</a>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="/images/logo.png" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted"> Smart Attendance System &copy; 2022</small>
            </div>
        </div>
    </footer>
</div>